# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vue
myvue/dist/
myvue/.env*

# Server
todo-server/node_modules/
todo-server/logs/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
